/* view_defects.css */

h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #007BFF;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f0f0f0;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
  }
  div{
    margin: auto;
    width: 50%;
    padding: 10px;
    }  